.wrap {
	max-width: 1200px;
	margin:0 auto;
}

ul {
	list-style-type: none;
	text-align: right;
	margin: 20px 10px;
	max-width: 100%;
}

li {
	display: inline;
}

li:after {
	color: grey;
	padding: 3px;
	content: "|";
}

li:last-child:after {
	content: "";
}

a {
	text-decoration: none;
	color: gray;
}

a:hover {
	color: black;
}

img {
	max-width: 100%;
	height: auto;
}

h1 {
	font-family: "Good Times", sans-serif;
}

h6 {
	font-family: "PT Sans", sans-serif;
	font-style: italic;
	font-size: 10px;
	font-weight: normal;
	margin: 7px auto;
}

p {
	font-family: "FF Tisa Web Pro", sans-serif;
}

span {
	font-family: "Chaparral Pro", sans-serif;
}