body {
	font-family: sans-serif;
	max-width: 1200px;
	margin:0 auto;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.nav {
	text-align: right;
	margin: 20px 10px;
	max-width: 100%
}

.nav li {
	display: inline;
}

.nav li:after {
	color: grey;
	padding: 3px;
	content: "|";
}

.nav li:last-child:after {
	content: "";
}

.nav a{
	color: grey;
}

.nav a:hover {
	color: black;
}

.wrap {
	width: 80%;
	margin: 0 auto;
}

.wrap img {
	position: relative;
	float:left;
}

article {
	position: relative;
	float: left;
}

